<form [formGroup]="encounterTableForm">
  <!-- Roll Dice -->
  <section class="dice-pool">
    <h2>Define Dice Pool</h2>
    <div class="add-remove">
      <a (click)="addDieRolled()">Add</a>
      |
      <a (click)="clearDiceRolled()">Clear</a>
      |
      <a (click)="updateDiceRolled()">Update Table</a>
    </div>
    <ng-container *ngIf="formDiceRolled.length !== 0; else noDice">
      <div class="dice-rolled-form" formArrayName="diceRolled">
        <ng-container *ngFor="let die of formDiceRolled.controls; index as i">
          <div [formGroupName]="i">
            {{ i + 1 }}.
            <greg-dice-roller-form [parentForm]="die"></greg-dice-roller-form>
            <a (click)="removeDieRolled(i)">(Delete)</a>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noDice>
      <div class="no-dice">No dice have yet been added.</div>
    </ng-template>
  </section>

  <!-- Configuration Elements -->
  <section class="config">
    <h2>Define Table Configuration</h2>
    <label for="table-title">Table Name:</label>
    <input formControlName="title" name="table-title" type="text" />
    <br />
    <br />
    <small>
      All dice in the dice pools will be assumed to roll together when producing
      a result on this table.
    </small>
  </section>

  <!-- Editable Encounter Table -->
  <section class="enc-table">
    <!-- Define Encounters -->
    <h2>Define Result Table</h2>
    <div class="table-form">
      <a (click)="clearTableForm()">Clear</a>
      |
      <a (click)="updateEncounters()">Publish</a>
    </div>
    <greg-standard-encounter-form
      [parentForm]="encounterTableForm"
    ></greg-standard-encounter-form>
  </section>
</form>
