<form [formGroup]="encounterTableForm">
  <!-- Roll Dice -->
  <h3>Define Dice Pool</h3>
  <div class="add-remove">
    <a (click)="addDieRolled()">Add</a>
    |
    <a (click)="clearDiceRolled()">Clear</a>
    |
    <a (click)="updateDiceRolled()">Update Table</a>
  </div>
  <ng-container *ngIf="formDiceRolled.length !== 0; else noDice">
    <div class="dice-rolled-form" formArrayName="diceRolled">
      <ng-container *ngFor="let die of formDiceRolled.controls; index as i">
        <div [formGroupName]="i">
          {{ i + 1 }}.
          <greg-dice-roller-form [parentForm]="die"></greg-dice-roller-form>
          <a (click)="removeDieRolled(i)">(Delete)</a>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noDice>
    <div class="no-dice">No dice have yet been added.</div>
  </ng-template>
  <!-- Define Encounters -->
  <h3>Define Result Table</h3>
  <div class="table-form">
    <a (click)="clearTableForm()">Clear</a>
    |
    <a (click)="updateEncounters()">Publish</a>
  </div>
  <div formArrayName="encounters">
    <table>
      <colgroup>
        <col span="1" style="width: 5em" />
        <col span="1" />
      </colgroup>
      <tr>
        <th>Die Roll</th>
        <th>Encounter</th>
      </tr>
      <ng-container *ngIf="formEncounters.length !== 0; else noMonsters">
        <ng-container
          *ngFor="let encounter of formEncounters.controls; index as e"
        >
          <tr [formGroupName]="e">
            <td>
              <input formControlName="lowRoll" type="number" />
              -
              <input formControlName="highRoll" type="number" />
              <br />
              <a (click)="addEncounter(e)">+</a>
              /
              <a (click)="removeEncounter(e)">-</a>
            </td>
            <td style="padding: 0">
              <table>
                <tr>
                  <th>Monster</th>
                  <th>No.</th>
                  <th>AC</th>
                  <th>HD</th>
                  <th>Attack &amp; Damage</th>
                  <th>Move</th>
                  <th>Save As</th>
                  <th>Morale</th>
                </tr>
                <ng-container formArrayName="monsters">
                  <ng-container
                    *ngFor="
                      let monster of encounter.get('monsters').controls;
                      index as m
                    "
                  >
                    <tr [formGroupName]="m">
                      <td>
                        <input formControlName="name" type="text" />
                        (
                        <a (click)="addMonster(e, m)">+</a>
                        /
                        <a (click)="removeMonster(e, m)">-</a>
                        )
                      </td>
                      <td>
                        <ng-container
                          *ngIf="isDungeonEncounter; else wilderness"
                        >
                          <greg-dice-roller-form
                            [parentForm]="monster.get('noDungeon')"
                          ></greg-dice-roller-form>
                        </ng-container>
                        <ng-template #wilderness>
                          <greg-dice-roller-form
                            [parentForm]="monster.get('noWilderness')"
                          ></greg-dice-roller-form>
                        </ng-template>
                      </td>
                      <td>
                        <input formControlName="armorClass" type="number" />
                      </td>
                      <td>
                        <input formControlName="hitDice" type="number" />
                      </td>
                      <td>
                        <input formControlName="attacks" type="text" />
                        (
                        <greg-dice-roller-form
                          [parentForm]="monster.get('damage')"
                        ></greg-dice-roller-form>
                        )
                      </td>
                      <td>
                        <input
                          formControlName="movementExploration"
                          type="number"
                        />' ({{
                          monster.get("movementExploration").value / 3
                        }}')
                      </td>
                      <td>
                        <ng-container formGroupName="saveAs">
                          <input formControlName="asClass" type="text" />
                          <input formControlName="level" type="number" />
                        </ng-container>
                      </td>
                      <td>
                        <input formControlName="morale" type="number" />
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #noMonsters>
        <tr style="font-style: italic">
          <td colspan="9">No Encounters Yet</td>
        </tr>
      </ng-template>
    </table>
  </div>
</form>
<p>{{ encounterTable | json }}</p>
