.add-remove {
  text-align: center;
}

.no-dice {
  font-style: italic;
  padding: 1em;
}

.dice-rolled-form {
  a {
    margin-left: 0.5em;
  }

  input {
    width: 2em;
    margin: 0 0.25em;
  }
}
