@import "../../../../../assets/styles/variables";

div {
  padding: 0.5em;
}

input[type="number"] {
  width: 1.5em;
}

input[type="text"] {
  width: 8em;
}

label {
  color: $anchor-orange-light;
  font-weight: bold;
  padding-right: 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    text-align: center;
    padding: 0.2em;
  }

  th,
  tr {
    border: solid 1px $text-white;
  }
}

.add-remove {
  text-align: center;
  padding-bottom: 0.5em;
}

.dice-rolled-form {
  a {
    margin-left: 0.5em;
  }

  input {
    margin: 0 0.25em;
  }
}

.no-dice {
  font-style: italic;
}

.table-form {
  text-align: center;
}
