<form [formGroup]="monsterForm">
  <label>System:</label>
  <select formControlName="system">
    <option *ngFor="let systemCode of systemsList" [ngValue]="systemCode">
      {{ systems[systemCode] }}
    </option>
  </select>

  <label>Movement:</label>
  <span>
    <input formControlName="movement" type="number" />" (<input
      formControlName="charge"
      type="number"
    />")
  </span>

  <label>No. Appearing:</label>
  <greg-dice-roller-form
    name="noAppearing"
    [parentForm]="monsterForm.get('noAppearing')"
  ></greg-dice-roller-form>

  <label>Chance In Lair:</label>
  <span> <input formControlName="chanceInLair" type="number" />% </span>

  <label>Morale</label>
  <input formControlName="morale" type="number" />
</form>
