@import '/src/assets/variables';

form {
    @include twoColumnLayout();
    margin-bottom: 1em;
}

// flat top
.even-col {
    margin-top: 2em;
}

.highlight-cell {
    background-color: $text-gray;
}

div.location {
    @include baseDisplayGrid();
    grid-template-columns: 1em 4em 1fr;
}

// Old: pointed top
div.even-row.first-columm {
    margin-left: 2em;
}

div.odd-row.not-first-column {
    transform: translateX(-2em);
}

first-content section div {
    border: solid 1px white;
    height: 4em;
    text-align: center;
    width: 4em;
}

first-content section {
    float: left;
}

first-content span {
    font-size: x-large;
    font-weight: bold;
    color: $anchor-orange-dark;
}