@import '/src/assets/variables';

// flat top
.even-col {
    margin-top: 2em;
}

.highlight-cell {
    background-color: $text-gray;
}

// Old: pointed top
div.even-row.first-columm {
    margin-left: 2em;
}

div.odd-row.not-first-column {
    transform: translateX(-2em);
}

section div {
    border: solid 1px white;
    height: 4em;
    text-align: center;
    width: 4em;
}

section {
    float: left;
}