<table>
  <tr>
    <th *ngIf="removeMode$ | async">&nbsp;</th>
    <th>Name</th>
    <th>Move (Charge)</th>
    <th>No. Appearing</th>
    <th>Chance In Lair</th>
    <th>TreasureType</th>
    <th>Morale</th>
    <th>Attacks As</th>
    <th>Defends As</th>
    <th>Special</th>
  </tr>
  <tr *ngFor="let monster of monster$ | async; index as i">
    <td *ngIf="removeMode$ | async">
      <input type="checkbox" (change)="toggleCheckedMonsterAt(i)" />
    </td>
    <td>{{ monster.name }}</td>
    <td>{{ monster.movement }}" ({{ monster.charge }}")</td>
    <td>{{ monster.noAppearing | boundedRange }}</td>
    <td>{{ monster.chanceInLair }}%</td>
    <td>{{ monster.treasureType }}</td>
    <td>{{ monster.morale }}</td>
    <td>
      {{ weaponDisplay(monster.meleeAttacks) }}
      <ng-container *ngIf="monster.missileAttacks?.length">
        <br />
        {{ weaponDisplay(monster.missileAttacks) }}
      </ng-container>
    </td>
    <td>
      {{ defendsAsDisplay(monster.defendsAs) }}
    </td>
    <td>{{ monster.specialQualities.substring(0, 5) }} ...</td>
  </tr>
</table>
<section>
  <div class="import-export">
    <button (click)="exportMonsters()">Export</button>

    <label>Import: </label>
    <input #fileInput (change)="importMonsters()" type="file" />
  </div>

  <ng-container *ngIf="removeMode$ | async; else readMode">
    <div>
      <button (click)="removeSelectedMonsters()">Remove</button>
      <button (click)="toggleRemoveMonsters()">Cancel</button>
    </div>
  </ng-container>
  <ng-template #readMode>
    <button (click)="toggleRemoveMonsters()">Remove Monsters</button>
    <button (click)="clearMonsters()">Remove All</button>
  </ng-template>
</section>
