@import "src/assets/styles/variables";
@include smallNumberFields();

%grid-display {
  display: grid;
  column-gap: 0.5em;
}

div {
  &.single {
    @extend %grid-display;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: "input form add-remove";
  }

  &.split {
    @extend %grid-display;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "input add-remove"
      "form form";
  }
}

span {
  &.input {
    grid-area: input;
    text-align: right;
  }

  &.add-remove {
    grid-area: add-remove;
  }

  &.dice-form {
    grid-area: form;
  }
}
