<header>
  <h2>Edit Target Encounter</h2>
  <ng-container *ngTemplateOutlet="commandBar"></ng-container>
</header>
<form [formGroup]="activeEncounterForm">
  <div class="enc-name">
    <label for="name">Encounter Name:</label>
    <input formControlName="name" name="name" type="text" />
  </div>
  <div class="enc-type">
    <label for="type">Encounter Type:</label>
    <select formControlName="type">
      <option
        *ngFor="let encType of ENCOUNTER_TYPE_ITERABLE"
        [value]="ENCOUNTER_TYPES[encType]"
      >
        {{ encType }}
      </option>
    </select>
  </div>
  <div class="enc-def">
    <label for="monsters">Encountered Creatures:</label>
    <table formArrayName="monsters" name="monsters">
      <colgroup>
        <col style="width: 2em" />
        <col />
        <col style="text-align: center; width: 3em" />
      </colgroup>
      <ng-container *ngIf="monstersFormArray.length > 0; else noMonsters">
        <tr *ngFor="let monster of monstersFormArray.controls; index as m">
          <td>{{ m + 1 }}.</td>
          <td>
            <greg-create-monster-for-encounter-form
              [encounterType]="activeEncounterForm.get('type').value"
              [monsterForm]="monster"
            ></greg-create-monster-for-encounter-form>
          </td>
          <td>
            <a (click)="addMonster(m)">+</a>
            /
            <a (click)="removeMonster(m)">-</a>
          </td>
        </tr>
      </ng-container>
      <ng-template #noMonsters>
        <tr>
          <td>&nbsp;</td>
          <td colspan="2"><a (click)="addMonster()">Add a Monster</a></td>
        </tr>
      </ng-template>
    </table>
  </div>
</form>
<ng-container *ngTemplateOutlet="commandBar"></ng-container>
<ng-template #commandBar>
  <div class="accept-revert">
    <a (click)="return()">Return</a>
    |
    <a (click)="revert()">Revert</a>
    |
    <label for="importEncounterInput" style="padding: 0">
      <a (click)="import()">Import</a>
    </label>
    <input
      #importEncounterInput
      accept=".json"
      multiple="false"
      name="importEncounterInput"
      type="file"
      (change)="onImportSelected()"
    />
    |
    <a (click)="export()">Export</a>
  </div>
</ng-template>
