div {
  margin-bottom: 0.5em;

  &.accept-revert {
    text-align: center;
    margin: auto;
    padding: 0.5em;
  }

  &.enc-def {
    grid-area: def;
  }

  &.enc-name {
    grid-area: name;
  }

  &.enc-type {
    grid-area: type;
  }
}

form {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "name type"
    "def def";
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

input[type="file"] {
  display: none;
}

label {
  padding-right: 1em;
}

table {
  width: 100%;
}
