<h2 *ngIf="!isNested">Create / Edit Encounter Table</h2>
<section>
  <ng-container *ngTemplateOutlet="actionBar"></ng-container>
  <table [formGroup]="form">
    <colgroup>
      <col style="width: 6em" />
      <col />
      <col style="width: 3em" />
    </colgroup>
    <tr>
      <th>Roll</th>
      <th class="result-header">Result</th>
      <th>&nbsp;</th>
    </tr>
    <ng-container *ngIf="mappingForm.length > 0; else noEncounters">
      <ng-container formArrayName="encounterRollMapping">
        <tr *ngFor="let mapping of mappingForm.controls; index as i">
          <td [formGroup]="mapping.get('roll')">
            <input formControlName="low" type="number" />
            -
            <input formControlName="high" type="number" />
          </td>
          <td>
            <ng-container [ngSwitch]="formType(i)">
              <ng-container *ngSwitchCase="ROW_TYPES.ENCOUNTER">
                <greg-edit-encounter-form
                  [encounterForm]="encountersForm.controls[i]"
                ></greg-edit-encounter-form>
              </ng-container>
              <ng-container *ngSwitchCase="ROW_TYPES.TABLE">
                <greg-edit-encounter-table
                  [encounterRollMapping]="
                    encountersForm.controls[i].encounterRollMapping
                  "
                  [encounters]="encountersForm.controls[i].encounters"
                  [isNested]="true"
                ></greg-edit-encounter-table>
              </ng-container>
              <ng-container *ngSwitchCase="ROW_TYPES.UNDEFINED">
                <a (click)="editAsEncounter(i)">Add Creature Encounter</a>
                /
                <a (click)="editAsTable(i)">Add Nested Table</a>
              </ng-container>
              <ng-container *ngSwitchDefault>
                Unable to determine row content.
              </ng-container>
            </ng-container>
          </td>
          <td class="add-remove">
            <a (click)="addBlankRow(i)">+</a>
            /
            <a (click)="removeRow(i)">-</a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-template #noEncounters>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2">
          <a (click)="addEncounter()">Add Creature Encounter</a>
          /
          <a (click)="addTable()">Add Nested Table</a>
        </td>
      </tr>
    </ng-template>
  </table>
  <ng-container *ngTemplateOutlet="actionBar"></ng-container>
</section>

<ng-template #actionBar>
  <div *ngIf="!isNested" class="action-bar">
    <a (click)="inferTable()">Infer Table from Dice</a>
    |
    <a (click)="saveTable()">Save</a>
    |
    <a (click)="clearTable()">Clear</a>
  </div>
</ng-template>
