@import "src/assets/styles/variables";
@include smallNumberFields();
@include standardTableStyles();

div {
  margin-bottom: 0.25em;

  &.action-bar {
    text-align: center;
  }
}

table {
  border-collapse: collapse;

  td,
  th {
    &.add-remove {
      text-align: center;
    }

    &.result-header {
      @include indent();
      text-align: left;
    }
  }

  tr {
    border: solid 1px;
  }
}
