section {
  text-align: center;
}

  td {
    text-align: center;
  }

  .range-header {
    width: 6em;
  }

  .result-entry {
    text-align: left;
    padding: 0em 1em;
  }

  .result-header {
    text-align: left;
    padding-left: 3em;
  }