@import '../../../../../assets/styles/variables';

@mixin centerAndPad() {
  text-align: center;
  padding: 0.5em 0em;
}

div {
  @include centerAndPad();
}

form {
  @include centerAndPad();
  @include twoAcross();
  row-gap: 0.5em;
}