<ng-template #nil>
  <div>Nil</div>
</ng-template>

<form [formGroup]="diceToRollForm">
  <label>Dice to Roll:</label>
  <greg-dice-roller-form [parentForm]="diceToRollForm"></greg-dice-roller-form>
</form>

<form [formGroup]="entryForm">
  <label>Type:</label>
  <input formControlName="type" type="string" />

  <label>Copper:</label>
  <greg-specie-form [parentForm]="entryForm.get('copper')"></greg-specie-form>

  <label>Silver:</label>
  <greg-specie-form [parentForm]="entryForm.get('silver')"></greg-specie-form>

  <label>Gold:</label>
  <greg-specie-form [parentForm]="entryForm.get('gold')"></greg-specie-form>

  <label>Maps & Magic:</label>
  <div
    *ngIf="mapsAndMagicForm.controls.length; else nil"
    formArrayName="mapsAndMagic"
    class="two-across"
  >
    <ng-container *ngFor="let m of mapsAndMagicForm.controls; index as i">
      <ng-container [formGroupName]="i">
        <span>
          <label>Name: </label>
          <input formControlName="name" type="text" />
        </span>
        <span style="padding-top: 0.5em">
          <a (click)="removeArrayElementAt('mapsAndMagic', i)"> X </a>
        </span>
        <span>
          <label>Chance Of:</label>
          <input formControlName="chanceOf" type="number" />
        </span>
        <span>
          <label>No Of:</label>
          <input formControlName="numberOf" type="number" />
        </span>
      </ng-container>
    </ng-container>
  </div>

  <label>Gems:</label>
  <div
    *ngIf="gemsForm.controls.length; else nil"
    class="one-with-remove"
    formArrayName="gems"
  >
    <ng-container *ngFor="let gem of gemsForm.controls; index as i">
      <ng-container [formGroupName]="i">
        <greg-gem-jewel-form [parentForm]="gem"></greg-gem-jewel-form>
        <a (click)="removeArrayElementAt('gems', i)">X</a>
      </ng-container>
    </ng-container>
  </div>

  <label>Jewelry:</label>
  <div
    *ngIf="jewelryForm.controls.length; else nil"
    class="one-with-remove"
    formArrayName="jewelry"
  >
    <ng-container *ngFor="let jewelry of jewelryForm.controls; index as i">
      <ng-container [formGroupName]="i">
        <greg-gem-jewel-form [parentForm]="jewelry"></greg-gem-jewel-form>
        <a (click)="removeArrayElementAt('jewelry', i)">X</a>
      </ng-container>
    </ng-container>
  </div>
</form>

<div>
  <label>Import Nested Magic Item Table: </label>
  <input #mapOrMagicItemInput (change)="importMapOrMagic()" type="file" />
  <br />
  <button (click)="addGemOrJewel()">Add Gem</button>
  &nbsp;&nbsp;
  <button (click)="addGemOrJewel(true)">Add Jewelry</button>
  <br />
  <button (click)="clearEntry()">Clear Entry</button>
</div>

<div>
  <button (click)="saveEntry()">Add Entry to List</button>
</div>
