@import '/src/assets/variables';

first-content p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

section.rollable-table-list {
  margin: 0.3em 0em;
}
section.rollable-table-list div {
  @include baseDisplayGrid();
  grid-template-columns: 1em 1fr 2fr;
}