<label>List Title: </label>
<input #listNameInput (change)="updateListName()" type="text" />
<ng-container *ngIf="itemList$ | async as itemList">
  <table>
    <colgroup>
      <col width="5%" />
      <col width="5%" />
      <col width="90%" />
    </colgroup>
    <tr>
      <th colspan="2">Chance</th>
      <th class="item-header">Item</th>
    </tr>
    <tr *ngFor="let item of itemList; index as i">
      <td>{{ i }}</td>
      <td>{{ item.chanceOf }}%</td>
      <td class="description">{{ item.type }} ({{ item.description }})</td>
    </tr>
  </table>
</ng-container>
