<label>List Title: </label>
<input #listNameInput (change)="updateListName()" type="text" />
<ng-container *ngIf="itemList$ | async as itemList">
  <table>
    <colgroup>
      <col width="10%" />
      <col width="85%" />
      <col width="5%" />
    </colgroup>
    <tr>
      <th>Chance</th>
      <th colspan="2" class="item-header">Item</th>
    </tr>
    <tr *ngFor="let item of itemList; index as i">
      <td>{{ item.chanceOf }}%</td>
      <td class="description">{{ item.type }} ({{ item.description }})</td>
      <td><a (click)="removeEntry(i)">X</a></td>
    </tr>
  </table>
</ng-container>
