@import '../../../../../assets/styles/variables';

form.magic-item-form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

form.treasure-map-form {
  @include twoAcross();
}

h3 {
  @include indent();
}

section, span {
  text-align: center;
}