@import '/src/assets/variables';

result-display div {
  @include baseDisplayGrid();
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1em;
}
result-display div label {
  @include indent();
}
result-display div ul {
  margin: 0;
  padding-left: 1em;
}