@import '/src/assets/variables';

@include hideFileInputs();

first-content form {
  @include baseDisplayGrid();
  column-gap: 1em;
  grid-template-columns: repeat(2, 1fr 2fr);
}

hr {
  margin-bottom: 1em;
  margin-top: 1em;
}

second-content div.common-list {
  @include baseDisplayGrid();
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "left right"
    "items items"
    "controls controls";
}

second-content label {
  @include indent();
}
second-content label.saved-items-label {
  grid-area: left;
}

section.default-system {
  grid-area: right;
}
section.default-system label {
  margin-right: 0.5em;
}

section.item-form-controls,
section.saved-items-controls {
  text-align: center;
}
section.item-form-controls a,
section.saved-items-controls a {
  margin: 0em 2em;
}

section.saved-items-controls {
  grid-area: controls;
}

section.saved-items-list{
  @include twoColumnLayout();
  column-gap: 0.5em;
  grid-area: items;
  row-gap: 0;
}
section.saved-items-list div {
  @include baseDisplayGrid();
  grid-template-columns: 1.5em 1fr 1.5em 1.5em;
  margin: 0.25em 0em;
}