{{ encounterTable | json }}

<table style="width: 100%">
  <tr>
    <th>Roll</th>
    <th>Name</th>
    <th>Number</th>
    <th>AC</th>
    <th>HD</th>
    <th>Attacks</th>
    <th>Move</th>
    <th>Save As</th>
    <th>Morale</th>
  </tr>
  <ng-container *ngIf="encounterRollMapping.length > 0; else noEncountersFound">
    <tr *ngFor="let encounter of encounters; index as e">
      <ng-container [ngSwitch]="getRowType(encounter)">
        <ng-container *ngSwitchCase="ROW_TYPES.ENCOUNTER">
          <ng-container *ngFor="let monster of encounter.monsters">
            <td>{{ encounterRollMapping[e].range | json }}</td>
            <td>{{ monster.name }}</td>
            <td>{{ monster | numberAppearing: encounterTable.location }}</td>
            <td>{{ monster.armorClass }}</td>
            <td>{{ monster | hitDice }}</td>
            <td style="white-space: pre">
              {{ monster.attacks | weaponAttacks }}
            </td>
            <td>
              {{ monster.movementExploration }}' ({{
                monster.movementTactical
              }}')
            </td>
            <td>Save As</td>
            <td>{{ monster.morale }}</td>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="ROW_TYPES.TABLE">
          <td colspan="8">
            <greg-display-table-print
              [encounterTable]="encounter"
            ></greg-display-table-print>
          </td>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <td colspan="8" style="font-style: italic; text-align: center">
            Unable to determine content type.
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </ng-container>
  <ng-template #noEncountersFound>
    <tr>
      <td colspan="8" style="font-style: italic; text-align: center">
        No Encounter Results Defined.
      </td>
    </tr>
  </ng-template>
</table>
