div {
  column-gap: 1em;
  display: grid;
  grid-template-areas:
    "left right"
    "bottom bottom";
  grid-template-columns: repeat(2, 1fr);

  .configure-table {
    grid-area: left;
  }

  .dice-rolled {
    grid-area: right;
  }

  .edit-table {
    grid-area: bottom;
  }
}
