<h2>Encounter Table for Web</h2>
<!-- &lt;&gt; -->
<pre *ngIf="encounters && encounters.length; else noEncounters">
  &lt;span style="font-weight: bold; padding-left: 1em;"&gt;
    {{ title ? title : 'Encounter Table' }}
  &lt;/span&gt;
  &lt;table&gt;
    &lt;tr&gt;
      &lt;th&gt;Roll&lt;/th&gt;
      &lt;th&gt;Monster&lt;/th&gt;
      &lt;th&gt;No.&lt;/th&gt;
      &lt;th&gt;AC&lt;/th&gt;
      &lt;th&gt;HD&lt;/th&gt;
      &lt;th&gt;Attacks &amp;amp; Damage&lt;/th&gt;
      &lt;th&gt;Move&lt;/th&gt;
      &lt;th&gt;Save As&lt;/th&gt;
      &lt;th&gt;Morale&lt;/th&gt;
    &lt;/tr&gt; <ng-container *ngFor="let encounter of encounters"> <ng-container *ngFor="let monster of encounter.monsters; first as isFirst">
    &lt;tr&gt;
      <ng-container *ngIf="isFirst">&lt;td
        rowspan="{{ encounter.monsters.length }}"
        style="text-align: center;"
      &gt;
        {{ encounter | encounterRoll }}
      &lt;/td&gt;</ng-container>
      &lt;td&gt;{{ monster.name }}&lt;/td&gt;
      &lt;td style="text-align: center;"&gt;{{ monster | noAppearingRange: isDungeon }}&lt;/td&gt;
      &lt;td style="text-align: center;"&gt;{{ monster.armorClass }}&lt;/td&gt;
      &lt;td style="text-align: center;"&gt;{{ monster.hitDice }}&lt;/td&gt;
      &lt;td&gt;{{ monster | attacksAndDamage }}&lt;/td&gt;
      &lt;td style="text-align: center;"&gt;{{ monster | combinedMovement }}&lt;/td&gt;
      &lt;td&gt;{{ monster?.saveAs?.asClass }} {{ monster?.saveAs?.level }}&lt;/td&gt;
      &lt;td style="text-align: center;"&gt;{{ monster.morale }}&lt;/td&gt;
    &lt;/tr&gt;</ng-container></ng-container>
  &lt;/table&gt;
  </pre>
<ng-template #noEncounters>
  <pre>No encounters yet provided.</pre>
</ng-template>
