<form [formGroup]="monsterForm">
  <label for="name">Creature:</label>
  <input formControlName="name" type="text" />

  <label>No. Appearing:</label>
  <span>
    <ng-container
      *ngIf="encounterType == ENCOUNTER_TYPES.DUNGEON; else wilderness"
    >
      Dun
    </ng-container>
    <ng-template #wilderness> Wild </ng-template>
  </span>

  <label>Armor Class:</label>
  <input formControlName="armorClass" type="number" />

  <label>Hit Dice:</label>
  <span>
    <input formControlName="hitDice" type="number" />
    +
    <input formControlName="hitPointModifier" type="number" />
  </span>

  <label>Attacks &amp; Damage:</label>
  <span class="wide-load">
    <greg-weapons-form [parentForm]="monsterForm"></greg-weapons-form>
  </span>

  <label>Move:</label>
  <span>
    <input formControlName="movementExploration" type="number" />' (
    {{ monsterForm.get("movementExploration").value | monsterTacticalMovement }}
    ' )
  </span>

  <label>Save As:</label>
  <span formGroupName="saveAs">
    <select formControlName="asClass">
      <option *ngFor="let option of SAVE_AS_CLASS_OPTIONS" [value]="option">
        {{ option }}
      </option>
    </select>
    <input formControlName="level" type="number" />
  </span>

  <label>Morale:</label>
  <input formControlName="morale" type="number" />
</form>
