@import "src/assets/styles/variables";

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "dice config"
    "tbl tbl";

  .dice-pool {
    grid-area: dice;
  }

  .enc-table {
    grid-area: tbl;
  }

  .table-config {
    grid-area: config;
  }
}

input[type="file"] {
  display: none;
}

p {
  text-align: center;
}
