<h2>Configure Encounter Table</h2>
<section [formGroup]="form">
  <div class="action-bar">
    <a (click)="clear()">Clear</a>
    |
    <a (click)="reset()">Reset</a>
    |
    <a (click)="save()">Save</a>
  </div>
  <div class="config-form">
    <label for="name">Table Name:</label>
    <input formControlName="name" name="name" type="text" />

    <label for="type">Table Type:</label>
    <select formControlName="type" name="type">
      <option
        *ngFor="let option of ENCOUNTER_OPTIONS"
        [value]="ENCOUNTER_TABLE_TYPES[option]"
      >
        {{ option }}
      </option>
    </select>
  </div>
</section>
