<greg-page-template *ngIf="dataState$ | async as dataState">
  <first-content>
    <section class="controls">
      <a (click)="import()">Import Legacy Magic Item Table</a>
      <input #importInput (change)="onImport()" type="file" />
    </section>
    <div>
      {{ legacyItemTable | json }}
    </div>
  </first-content>

  <second-content>
    <section class="controls">
      <a (click)="convert()">Convert</a>
      <a (click)="saveAll()">Save All</a>
      <a>Export All</a>
    </section>

    <label>Magic Item Lists</label>
    <div>
      <section *ngIf="magicItemLists.length; else noItems">
        <span *ngFor="let list of magicItemLists">
          &bull;
          {{ list.name }}
          ({{ showTableCounts(list) }})
          {{ indicateSaved(list.name, dataState.magicItemTables) }}
        </span>
      </section>
    </div>

    <br />

    <label>Magic Items</label>
    <div>
      <section *ngIf="magicItems.length; else noItems">
        <span *ngFor="let item of magicItems">
          &bull;
          {{ item.name }}
          {{ indicateSaved(item.name, dataState.magicItems) }}
        </span>
      </section>
    </div>
  </second-content>
</greg-page-template>

<ng-template #noItems> <div>...</div> </ng-template>
