<greg-page-template>
  <first-content>
    <a (click)="import()">Import Legacy Magic Item Table</a>
    <input #importInput (change)="onImport()" type="file" />
    <div>
      {{ legacyItemTable | json }}
    </div>
  </first-content>

  <second-content>
    <a (click)="convert()">Convert</a>

    <label>Magic Item Lists</label>
    <div>
      <section *ngIf="magicItemLists.length; else noItems">
        <span *ngFor="let list of magicItemLists">
          &bull; {{ list.name }} ({{ showTableCounts(list) }})
        </span>
      </section>
    </div>

    <div>
      <label>Magic Items</label>
      <section *ngIf="magicItems.length; else noItems">
        <span *ngFor="let item of magicItems"> &bull; {{ item.name }} </span>
      </section>
    </div>
  </second-content>
</greg-page-template>

<ng-template #noItems> ... </ng-template>
