@import '/src/assets/variables';

@include hideFileInputs();

a {
  @include indent();
}

div {
  margin-top: 0.5em;
}

div > section {
  @include baseDisplayGrid();
  column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

label {
  display: block;
  margin-top: 0.5em;
}