section {
  text-align: center;
  margin-top: 0.5em;
}

table {
  width: 100%;
}

th.result-header {
  text-align: left;
  padding-left: 3em;
}

.content-cells {
  padding: 0em 0.5em;
}

.non-content-cells {
  text-align: center;
  width: 2em;
}