<section *ngFor="let menuItem of menuItems">
  <!-- Root -->
  <span (click)="clickMenuItem(menuItem)">
    {{ menuItem.label }}
    <small *ngIf="menuItem.hasChildren">
      {{ menuItem.isExpanded ? "&#9650;" : "&#9660;" }}
    </small>
  </span>
  <!-- Drop Down -->
  <div *ngIf="menuItem.isExpanded" class="child-options">
    <ng-container *ngFor="let childItem of menuItem.children">
      <span (click)="clickMenuItem(childItem, menuItem)">
        {{ childItem.label }}
      </span>
    </ng-container>
  </div>
</section>
