<h2>Encounter Table</h2>
<form [formGroup]="parentForm">
  <table formArrayName="resultMapping">
    <colgroup>
      <col style="width: 6em" />
      <col />
    </colgroup>
    <tr>
      <th>Roll</th>
      <th>Result</th>
    </tr>
    <ng-container
      *ngIf="
        resultMappingForm && resultMappingForm.controls.length > 0;
        else noEncounters
      "
    >
      <tr *ngFor="let enc of resultMappingForm.controls; index as e">
        <td style="text-align: center" [formGroupName]="e">
          <input type="number" formControlName="low" />
          -
          <input type="number" formControlName="high" />
          <br />
          (
          <a (click)="addSubtable(e)"> + </a>
          /
          <a (click)="removeSubtable(e)"> - </a>
          )
        </td>
        <td>
          {{ encountersForm.controls[e].value.name }}
          <a (click)="editSubtable(e)">Edit...</a>
        </td>
      </tr>
    </ng-container>
    <ng-template #noEncounters>
      <tr>
        <td colspan="2" style="text-align: center">
          <a (click)="addSubtable()">Add Encounter</a>
          |
          <a (click)="buildFormTable()">Infer From Dice Rolled</a>
        </td>
      </tr>
    </ng-template>
  </table>
</form>
