@import '/src/assets/variables';

@include hideFileInputs();
@include smallNumberInputs(4em);

div.reposition {
  @include oneColumnLayout();
}

div.treasure-list {
  align-items: center;
  column-gap: 1em;
  display: grid;
  grid-template-columns: 1em 1fr 1em;
}

form {
  padding: 0.5em 0em;
}

label.articles {
  @include indent();
}

second-content label {
  @include indent();
}

second-content > section {
  margin-bottom: 1em;
}

section.magic-item-tables {
  @include twoColumnLayout();
}
section.magic-item-tables div {
  @include baseDisplayGrid();
  grid-template-columns: 3em 1fr;
}

section.type-controls {
  @include oneColumnLayout();
  padding: 0.5em 0em;
}

section.type-definition {
  @include twoColumnLayout();
  margin-bottom: 0.5em;
}
section.type-definition label {
  padding-right: 1em;
}
