<form [formGroup]="articleForm">
  <div class="shift-entry">
    <a (click)="shiftArticle('up')">&uArr;</a>
    <a (click)="shiftArticle('down')">&dArr;</a>
  </div>

  <section>
    <div class="name-quantity">
      <label>Name:</label>
      <span>
        <input formControlName="name" type="text" />
      </span>

      <label>Quantity:</label>
      <greg-dice-rolled-form
        [fromParentForm]="articleForm"
        identifier="quantity"
      ></greg-dice-rolled-form>
    </div>

    <div class="chance-type">
      <label>Chance Of:</label>
      <span>
        <input formControlName="chanceOf" type="number" />
      </span>

      <label>...on:</label>
      <greg-dice-rolled-form
        [fromParentForm]="articleForm"
        identifier="diceRolled"
      ></greg-dice-rolled-form>

      <label>Type:</label>
      <span>
        <select formControlName="type">
          <option disabled value="">-- Select --</option>
          <ng-container *ngIf="articleTypeKeys">
            <option
              *ngFor="let articleKey of articleTypeKeys"
              [ngValue]="articleKey"
            >
              {{ articleValue(articleKey) }}
            </option>
          </ng-container>
        </select>
      </span>
    </div>
  </section>

  <div>
    <a (click)="removeArticle()">X</a>
  </div>
</form>
