<form [formGroup]="parentForm">
  <h2>Dice to Roll</h2>
  <ng-container *ngIf="diceFormArray.controls.length > 0; else noDice">
    <ng-container *ngFor="let dice of diceFormArray.controls; index as i">
      <section class="form-array">
        <span>{{ i + 1 }}.</span>
        <span>
          <greg-dice-roller-form
            [parentForm]="diceFormArray.controls[i]"
          ></greg-dice-roller-form>
        </span>
        <span>
          (
          <a (click)="addDieRolled(i)">+</a>
          /
          <a (click)="removeDieRolled(i)">-</a>
          )
        </span>
      </section>
    </ng-container>
  </ng-container>
  <ng-template #noDice>
    <section class="centered">
      <a (click)="addDieRolled()">Add a Dice Pool</a>
    </section>
  </ng-template>
</form>
