@import "../../../../../assets/styles/variables";

header {
  @include indent();
  background: $background-dark;
  grid-area: header;

  div {
    font-style: italic;
    margin-bottom: 0.5em;
  }
}

section {
  background-color: $background-light;
  padding: 0.25em 0.5em;

  &.first {
    grid-area: first;
  }

  &.second {
    grid-area: second;
  }

  &.menu-bar {
    grid-area: menu;
  }
}

%page-template {
  display: grid;
  grid-template-rows: auto;

  > * {
    margin: 0.1em;
  }
}

.page-template--single {
  @extend %page-template;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "menu"
    "first";
}

.page-template--double {
  @extend %page-template;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "menu menu"
    "first second";

  @media (max-width: 799px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "menu"
      "first"
      "second";
  }
}
