@import '/src/assets/variables';

article {
  background-color: $background-light;
  padding: 0em 0.5em;
}
article.first-content {
  grid-area: first;
}
article.second-content {
  grid-area: second;
}

section {
  display: grid;
  grid-template-rows: auto;
}
section.page-template--single {
  grid-template-areas: 
    "first";
}
section.page-template--stacked {
  grid-template-areas:
    "first"
    "second";
}
section.page-template--double {
  grid-template-areas:
    "first second";
}