@import "assets/styles/variables";

a {
  color: $anchor-orange-light;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    font-style: italic;
  }

  &:visited {
    color: $anchor-orange-dark;
  }
}

body {
  background-color: $background-black;
  color: $text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-orange;
}
