$anchor-orange-light: #ff9111;
$anchor-orange-dark: #dd7700;
$background-black: #111111;
$background-dark: #292929;
$background-light: #333333;
$header-orange: #dd7700;
$text-white: #cccccc;

@mixin indent() {
  padding-left: 2em;
}

@mixin smallNumberFields($size: 2em) {
  input[type="number"] {
    width: $size;
  }
}

@mixin smallTextFields($size: 4em) {
  input[type="text"] {
    width: $size;
  }
}

@mixin standardTableStyles() {
  table {
    width: 100%;

    td,
    th {
      padding: 0em 0.25em;
    }
  }
}
