<ng-container *ngIf="viewState$ | async as vs">
  <greg-page-template headerText="GREG - Create Encounter Table">
    <first-content>
      <greg-encounter-table-form
        [encounterTable]="vs.encounterTable"
        (encounterTableAction)="onEncounterTableAction($event)"
      ></greg-encounter-table-form>
    </first-content>
    <second-content>
      <greg-encounter-table-display
        [encounterTable]="vs.encounterTable"
      ></greg-encounter-table-display>
    </second-content>
  </greg-page-template>
</ng-container>
