@import '/src/assets/variables';

@include smallNumberInputs();

add-entry-form > hr {
  margin-bottom: 1em;
  margin-top: 1em;
}

add-entry-form > label {
  @include indent();
}

section.add-magic-item > div {
  @include baseDisplayGrid();
  grid-template-columns: 2.5em 1.5em 1fr;
  margin-bottom: 0.5em;
}

section.add-treasure-article div {
  text-align: center;
}
section.add-treasure-article div a {
  margin: 0em 2em;
}
section.add-treasure-article form {
  @include baseDisplayGrid();
  grid-template-columns: 1fr 2fr;
  margin-bottom: 0.5em;
}