<table [formGroup]="encounterFormGroup">
  <ng-container formArrayName="monsters">
    <ng-container *ngFor="let monster of monstersForm.controls; index as m">
      <tr [formGroupName]="m">
        <td style="text-align: left">
          <span style="font-weight: bold; margin: 0 1em"> Monster: </span>
          <input formControlName="name" type="text" />
          <span style="float: right; margin-right: 1em">
            (
            <a (click)="addMonster(m)">+</a>
            /
            <a (click)="removeMonster(m)">-</a>
            )
          </span>
          <table>
            <tr>
              <th>No.</th>
              <th>AC</th>
              <th>HD</th>
              <th>Attack &amp; Damage</th>
              <th>Move</th>
              <th>Save As</th>
              <th>Morale</th>
            </tr>
            <tr>
              <td>
                <ng-container *ngIf="isDungeonEncounter; else wilderness">
                  <greg-dice-roller-form
                    [parentForm]="monster.get('noDungeon')"
                    [splitLines]="true"
                  ></greg-dice-roller-form>
                </ng-container>
                <ng-template #wilderness>
                  <greg-dice-roller-form
                    [parentForm]="monster.get('noWilderness')"
                    [splitLines]="true"
                  ></greg-dice-roller-form>
                </ng-template>
              </td>
              <td>
                <input formControlName="armorClass" type="number" />
              </td>
              <td>
                <input formControlName="hitDice" type="number" />
                <br />
                +
                <input formControlName="hitPointModifier" type="number" />
              </td>
              <td>
                <greg-monster-attacks-form
                  [monsterFormGroup]="monster"
                ></greg-monster-attacks-form>
              </td>
              <td>
                <input formControlName="movementExploration" type="number" />'
                <br />
                ({{
                  monster.get("movementExploration").value
                    | monsterTacticalMovement
                }}')
              </td>
              <td>
                <ng-container formGroupName="saveAs">
                  <select formControlName="asClass">
                    <option
                      *ngFor="let option of saveAsClassOptions"
                      [ngValue]="option"
                    >
                      {{ option }}
                    </option>
                  </select>
                  <input formControlName="level" type="number" />
                </ng-container>
              </td>
              <td>
                <input formControlName="morale" type="number" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</table>
